.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.label,
.button {
  margin-right: 0.5rem;
  color: wheat;
}

.inputContainer {
  margin-bottom: 1rem;
}
input{
  border-radius: 5px;
}