.profile-image {
    width:200px;
    height: 200px;
    padding: 10px;
    margin: auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.profile-details {
    color: wheat;
    font-family: cursive;
    list-style: none;
}


.profile-details {
    text-align: start;
    color: wheat;
    margin: 10px auto;
    text-decoration: none;
}


.profile-title {
    display: flex;
    flex-direction: row;
}

.title-name {
    padding: 0 0 0 10px;
}


.profile-des {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    padding: 15px 0 0 0;
}

.posts-header {
    padding-top: 5px;
    text-align: center;
}

.des-post {
    margin: auto 25px;
    float: right;
    color: #67c1f5;
    text-align: center;
    font-weight: bold;
}

.des-reviews {
    margin: auto 25px;
    float: right;
    color: #67c1f5;
    text-align: center;
    font-weight: bold;
}

.des-friends {
    float: left;
    color: green;
    margin: auto 25px;
    text-align: center;
    font-weight: bold;

}